<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.brandnew.shardingjdbc.TestMapper" >
  <resultMap id="BaseResultMap" type="com.brandnew.shardingjdbc.Test" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="TINYINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey">
    delete from test
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert">
    insert into test (id, order_id, name,
      age)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{age,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKey">
    update test
    set order_id = #{orderId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, order_id, name, age
    from test
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, order_id, name, age
    from test
  </select>
</mapper>