<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.brandnew.tasktest.mapper.CsdnMapper" >
  <resultMap id="BaseResultMap" type="com.brandnew.tasktest.domain.Csdn" >
    <id column="id" property="id" />
    <result column="username" property="username" />
    <result column="password" property="password" />
    <result column="email" property="email" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `csdn`
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.brandnew.tasktest.domain.Csdn" useGeneratedKeys="true" keyProperty="id" >
    insert into `csdn` (username, password, email)
    values (#{username}, #{password}, #{email})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.brandnew.tasktest.domain.Csdn" >
    update `csdn`
    set username = #{username},
      password = #{password},
      email = #{email}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, username, password, email
    from `csdn`
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, username, password, email
    from `csdn`
  </select>
</mapper>